
.header-main-footer{
    max-width: 1920px;
    padding-bottom: 100px;
    width: 100%;
    background: #171717;
    margin: 0 auto;
    
}
header{
    position: relative;
}
.main-text {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    /* text-shadow: 3px 5px 6px black; */
}
.logo-telephon{
    display: flex;
    
}
.logo {
    align-self: flex-start;
}

.telephony{
    margin: 0 0 0 auto;
    display: flex;

}
.call-back {
    border: 1px solid 
    #E4B564;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.call-back img{
    padding:20px;
}
.call-back span{
    color: 
    #E4B564;
    padding-right: 25px;
}
.tel{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    margin-right: 40px;

}
.tel span{
    color: #D6AF76;;
}
.parallax-img-1{
    padding-left: 230px;
    padding-right: 230px;  
}
.block-1-elements{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 468px 468px;
    list-style: none;
    gap: 30px;
    font-family: 'Gilam';
    

}
.block-1-elements li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}
.element-2 {
    grid-column: 2/4;
    background: #B4A385;
    
}
.element-4 {
    grid-column: 1/3;
    background: #635A4A;
}
.element-5 {
    grid-column: 3/5;
    background: #B08C4D;
}
.element-1{
    background: 
    #634F2C;
}
.element-3 {
background: #E4B564;
}
.construction-machinery {
    padding-left: 230px;
    padding-right: 230px;
}

.block-2-elements{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: 500;
    height: 1000px;
    column-gap: 2%;
    row-gap: 20px;
    
    transform: translateZ(0px);
}
.block-2-el-1{
    
    width: 32%;
    height: 313px;
    background: #0E0E0E;

}
.block-2-el-2{
    width: 32%;
    height: 560px;
    background: #1F1F1F;
}
.block-2-el-3{
    width: 32%;
    height: 439px;
    background: #242424;
}
.block-2-el-4{
    width: 32%;
    height: 405px;
    background: #E4B564;
}
.block-2-el-5 {
    width: 32%;
    height: 255px;
    background: #1F1F1F;
}
.block-2-el-6{
    width: 32%;
    height: 313px;
    background: #0E0E0E;
}
.block-2-el-7 {
    width: 32%;
    height: 277px;
    background: #0A0909;
}
.block-2-elements li{
    box-sizing: border-box;
    padding-top: 44px;
    padding-left: 52px;
}
.kamaz{
    font-weight: bold;
}
.footer-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 390px 390px;
}
.footer-item1{
    background: #634F2C;
}
.footer-item2 {
    background: rgba(232, 210, 171, 0.76);
    
}
.footer-item3 {
    background: #E4B564;
}

.footer-item4{
    background: #635A4A;

}
.footer-item5{
    background: #B08C4D;
    position: relative;
}

.footer-item6{
    background: #634F2C;
}
.footer-block li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}
.address {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    padding: 16px 80px;
}
h2{
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
   
}
.title-1{
    padding-top: 128px;
    padding-bottom: 40px;
    color: #fff;
    z-index: 2;
}
.title-2 {
    padding-top: 160px;
    padding-bottom: 94px;
}
.projects{
    border: 1px solid #E4B564 ;
    color: 
    #E4B564;
    margin: 0 0 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 40px;
}
.clients-projects {
    display: flex;
    padding-top: 170px;
    padding-bottom: 72px;
}
.title-3 {
   align-items: center;
}
p{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 40px;
}
.our-clients{
    background:  #0E0E0E;
    color: #FFFFFF;
    padding-left: 230px;
    padding-right: 230px;
}

.parallax-img-1{
    padding: 46px 230px; 
    background: url(../image/header-bg\ \(2\).jpeg) ;
    background-attachment: fixed;
    position: relative;
    
}
.parallax-img-1:before {
    content:'';
    display: block;
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); 

}
.parallax-img-2 {
    background: url(../image/parallax-bg\ \(2\).jpeg) ;
    background-attachment: fixed;    
}
.kamaz-br {
    display: block;
}
.header
{
    z-index: 10;
}

